@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,100,200,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic,300italic,700italic,800,800italic|Roboto+Slab:400,700|Lora:400,700|Oswald:400,700,300");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body,
form,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.75rem;
  color: #d8d8d8;
  font-weight: 400;
  background: #fff;
}
p {
  margin: 0 0 1em 0;
}
a {
  color: #fff;
  background: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  color: #10384f;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
h1,
.h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  color: #343434;
  font-weight: 800;
}
h2,
.h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 32px;
  line-height: 2rem;
  margin-top: 1.4em;
  margin-bottom: 0.2em;
  color: #343434;
  font-weight: 100;
}
h3,
.h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-top: 1em;
  margin-bottom: 0.2em;
  color: #343434;
  font-weight: 100;
}
h4,
.h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0.2em;
  color: #343434;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 1em;
  margin-bottom: 0.1em;
  color: #343434;
  font-weight: 400;
}
h6,
.h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-top: 1em;
  margin-bottom: 0.1em;
  color: #343434;
  font-weight: 400;
}
b,
strong,
.strong {
  font-weight: 700;
}
em,
.em {
  font-style: italic;
}
abbr[title],
.abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
small,
.small {
  font-size: 80%px;
  font-size: 5%rem;
}
mark,
.mark {
  background: #ff0;
  color: #000;
}
sub,
.sub,
sup,
.sup {
  font-size: 75%px;
  font-size: 4.6875%rem;
  line-height: 0px;
  line-height: 0rem;
  position: relative;
  vertical-align: baseline;
}
sup,
.sup {
  top: -0.5em;
}
sub,
.sub {
  bottom: -0.25em;
}
del,
.del {
  text-decoration: line-through;
}
figure {
  margin: 1em 40px;
}
hr,
.hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
hr.clear {
  clear: both;
  visibility: hidden;
}
ul,
ol {
  margin: 1em 0 2em 0;
  padding: 0 0 0 40px;
}
ul li,
ol li {
  margin-bottom: 5px;
}
dl:before,
dl:after {
  content: " ";
  display: table;
}
dl:after {
  clear: both;
}
dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400;
}
dl dd {
  overflow: hidden;
  display: block;
}
blockquote,
.blockquote {
  font-family: sans-serif;
  font-weight: 400;
  color: #424242;
  font-style: italic;
  margin: 3em;
}
blockquote p,
.blockquote p {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-bottom: 0.4em;
}
blockquote cite,
.blockquote cite {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 25px;
  line-height: 1.5625rem;
  font-weight: 700;
  font-style: normal;
  color: #777;
}
caption {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: left;
  padding: 0.5em 0;
  border-bottom: 1px solid #d7d7d7;
}
table {
  font-size: 14px;
  font-size: 0.875rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 1em 0;
  text-align: left;
}
table thead td,
table tbody td,
table tfoot td,
table thead th,
table tbody th,
table tfoot th {
  color: #585858;
  padding: 0.8em 0.5em;
  border-bottom: 1px solid #e9e9e9;
}
code,
kbd,
pre,
samp {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  word-wrap: break-word;
  font-family: 'courier new', monospace, serif;
  color: #272727;
  background-color: #f1f1f1;
  font-weight: normal;
  padding: 5px;
  white-space: pre-wrap;
}
pre {
  padding: 10px;
  overflow: auto;
  border: 1px solid #d7d7d7;
}
fieldset,
legend {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 30px;
  line-height: 1.875rem;
  font-weight: 700;
}
.form {
  padding-top: 1em;
  padding-bottom: 1em;
}
label,
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.input {
  width: 100%;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  height: 36px;
  padding: 0 0.4em;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
}
select {
  text-transform: none;
}
optgroup {
  font-weight: 700;
}
button {
  overflow: visible;
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
button,
.button {
  padding: 5px 22px;
  border-radius: 4px;
  background-color: transparent;
  color: #212121;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #bdbdbd;
  transition: all 0.3s;
}
button:hover,
.button:hover,
button:active,
.button:active {
  text-decoration: none;
}
button:hover,
.button:hover {
  border-color: #212121;
  color: #212121;
}
button.inverse,
.button.inverse {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
}
button.inverse:hover,
.button.inverse:hover {
  border-color: #fff;
  color: #fff;
  background-color: rgba(255,255,255,0.1);
}
button.inverse.primary,
.button.inverse.primary {
  border-color: #c62828;
  color: #c62828;
  background-color: transparent;
}
button.inverse.primary:hover,
.button.inverse.primary:hover {
  border-color: #c62828;
  color: #c62828;
  background-color: rgba(198,40,40,0.1);
}
button.inverse.secondary,
.button.inverse.secondary {
  border-color: #2828c6;
  color: #2828c6;
  background-color: transparent;
}
button.inverse.secondary:hover,
.button.inverse.secondary:hover {
  border-color: #2828c6;
  color: #2828c6;
  background-color: rgba(40,40,198,0.1);
}
button.inverse.tertiary,
.button.inverse.tertiary {
  border-color: #28c628;
  color: #28c628;
  background-color: transparent;
}
button.inverse.tertiary:hover,
.button.inverse.tertiary:hover {
  border-color: #28c628;
  color: #28c628;
  background-color: rgba(40,198,40,0.1);
}
button.inverse.complementary,
.button.inverse.complementary {
  border-color: #28c6c6;
  color: #28c6c6;
  background-color: transparent;
}
button.inverse.complementary:hover,
.button.inverse.complementary:hover {
  border-color: #28c6c6;
  color: #28c6c6;
  background-color: rgba(40,198,198,0.1);
}
button.primary,
.button.primary {
  background-color: #c62828;
  border-color: #c62828;
  color: #fff;
}
button.primary:hover,
.button.primary:hover {
  background: #8b1c1c;
}
button.secondary,
.button.secondary {
  background-color: #2828c6;
  border-color: #2828c6;
  color: #fff;
}
button.secondary:hover,
.button.secondary:hover {
  background: #1c1c8b;
}
button.tertiary,
.button.tertiary {
  background-color: #28c628;
  border-color: #28c628;
  color: #fff;
}
button.tertiary:hover,
.button.tertiary:hover {
  background: #1c8b1c;
}
button.complementary,
.button.complementary {
  background-color: #28c6c6;
  border-color: #28c6c6;
  color: #fff;
}
button.complementary:hover,
.button.complementary:hover {
  background: #1c8b8b;
}
button.disabled,
.button.disabled,
button:hover,
.button:hover {
  border-color: #e1e1e1;
}
button.pill,
.button.pill {
  display: inline-block;
  border-radius: 25px;
  padding: 7px 15px 5px;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  transition: all 0.3s;
}
button.pill:hover,
.button.pill:hover {
  transition: all 0.3s;
}
button.pill:hover:after,
.button.pill:hover:after {
  content: '›';
  font-size: 20px;
  font-size: 1.25rem;
  display: inline;
  top: 0;
  opacity: 1;
  margin-left: 16px;
}
button.pill:after,
.button.pill:after {
  content: '›';
  font-size: 0px;
  font-size: 0rem;
  display: inline;
  line-height: 5px;
  line-height: 0.3125rem;
  top: -3px;
  opacity: 0;
  margin-left: 0;
  position: relative;
  transition: all 0.3s;
}
.button-link {
  color: #fff;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
}
.button-link:hover {
  text-decoration: none;
}
.button-link:active {
  outline: 0;
}
.select {
  border: 1px solid #ccc;
  overflow: hidden;
  height: 36px;
  line-height: 32pxpx;
  line-height: 2pxrem;
  padding: 0 0.4em;
  position: relative;
  display: block;
}
.select:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: #676767;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
}
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 120%;
  height: 36px;
  padding: 0;
  border: 0;
  background: transparent;
  display: block;
}
.select select:focus {
  outline: 0;
}
.card {
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}
.card h1,
.card h2,
.card h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
}
.page-wrap,
.container {
  overflow: hidden;
}
.container {
  *zoom: 1;
  list-style: none;
  margin: 0 1%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 740px) {
  .container {
    margin: 0 5%;
  }
}
.column,
.columns {
  float: left;
  position: relative;
  padding: 0 1em 2em;
}
.column .container,
.columns .container {
  margin: 0;
}
@media only screen and (max-width: 740px) {
  .column .container .column,
  .columns .container .column,
  .column .container .columns,
  .columns .container .columns {
    padding: 0;
  }
}
.column img,
.columns img {
  max-width: 100%;
  height: auto;
  ms-interpolation-mode: bicubic;
}
.small-1 {
  width: 8.333333333333332%;
}
.small-push-1 {
  margin-left: 8.333333333333332%;
}
.small-pull-1 {
  margin-left: -8.333333333333332%;
}
.small-2 {
  width: 16.666666666666664%;
}
.small-push-2 {
  margin-left: 16.666666666666664%;
}
.small-pull-2 {
  margin-left: -16.666666666666664%;
}
.small-3 {
  width: 25%;
}
.small-push-3 {
  margin-left: 25%;
}
.small-pull-3 {
  margin-left: -25%;
}
.small-4 {
  width: 33.33333333333333%;
}
.small-push-4 {
  margin-left: 33.33333333333333%;
}
.small-pull-4 {
  margin-left: -33.33333333333333%;
}
.small-5 {
  width: 41.66666666666667%;
}
.small-push-5 {
  margin-left: 41.66666666666667%;
}
.small-pull-5 {
  margin-left: -41.66666666666667%;
}
.small-6 {
  width: 50%;
}
.small-push-6 {
  margin-left: 50%;
}
.small-pull-6 {
  margin-left: -50%;
}
.small-7 {
  width: 58.333333333333336%;
}
.small-push-7 {
  margin-left: 58.333333333333336%;
}
.small-pull-7 {
  margin-left: -58.333333333333336%;
}
.small-8 {
  width: 66.66666666666666%;
}
.small-push-8 {
  margin-left: 66.66666666666666%;
}
.small-pull-8 {
  margin-left: -66.66666666666666%;
}
.small-9 {
  width: 75%;
}
.small-push-9 {
  margin-left: 75%;
}
.small-pull-9 {
  margin-left: -75%;
}
.small-10 {
  width: 83.33333333333334%;
}
.small-push-10 {
  margin-left: 83.33333333333334%;
}
.small-pull-10 {
  margin-left: -83.33333333333334%;
}
.small-11 {
  width: 91.66666666666666%;
}
.small-push-11 {
  margin-left: 91.66666666666666%;
}
.small-pull-11 {
  margin-left: -91.66666666666666%;
}
.small-12 {
  width: 100%;
}
.small-push-12 {
  margin-left: 100%;
}
.small-pull-12 {
  margin-left: -100%;
}
.hide-small {
  display: none;
}
.show-small {
  display: block;
}
.show-small-inline-block {
  display: inline-block;
}
.show-small-inline {
  display: inline;
}
@media (min-width: 48em) {
  .med-1 {
    width: 8.333333333333332%;
  }
  .med-push-1 {
    margin-left: 8.333333333333332%;
  }
  .med-pull-1 {
    margin-left: -8.333333333333332%;
  }
  .med-2 {
    width: 16.666666666666664%;
  }
  .med-push-2 {
    margin-left: 16.666666666666664%;
  }
  .med-pull-2 {
    margin-left: -16.666666666666664%;
  }
  .med-3 {
    width: 25%;
  }
  .med-push-3 {
    margin-left: 25%;
  }
  .med-pull-3 {
    margin-left: -25%;
  }
  .med-4 {
    width: 33.33333333333333%;
  }
  .med-push-4 {
    margin-left: 33.33333333333333%;
  }
  .med-pull-4 {
    margin-left: -33.33333333333333%;
  }
  .med-5 {
    width: 41.66666666666667%;
  }
  .med-push-5 {
    margin-left: 41.66666666666667%;
  }
  .med-pull-5 {
    margin-left: -41.66666666666667%;
  }
  .med-6 {
    width: 50%;
  }
  .med-push-6 {
    margin-left: 50%;
  }
  .med-pull-6 {
    margin-left: -50%;
  }
  .med-7 {
    width: 58.333333333333336%;
  }
  .med-push-7 {
    margin-left: 58.333333333333336%;
  }
  .med-pull-7 {
    margin-left: -58.333333333333336%;
  }
  .med-8 {
    width: 66.66666666666666%;
  }
  .med-push-8 {
    margin-left: 66.66666666666666%;
  }
  .med-pull-8 {
    margin-left: -66.66666666666666%;
  }
  .med-9 {
    width: 75%;
  }
  .med-push-9 {
    margin-left: 75%;
  }
  .med-pull-9 {
    margin-left: -75%;
  }
  .med-10 {
    width: 83.33333333333334%;
  }
  .med-push-10 {
    margin-left: 83.33333333333334%;
  }
  .med-pull-10 {
    margin-left: -83.33333333333334%;
  }
  .med-11 {
    width: 91.66666666666666%;
  }
  .med-push-11 {
    margin-left: 91.66666666666666%;
  }
  .med-pull-11 {
    margin-left: -91.66666666666666%;
  }
  .med-12 {
    width: 100%;
  }
  .med-push-12 {
    margin-left: 100%;
  }
  .med-pull-12 {
    margin-left: -100%;
  }
  .hide-med {
    display: none;
  }
  .show-med {
    display: block;
  }
  .show-med-inline-block {
    display: inline-block;
  }
  .show-med-inline {
    display: inline;
  }
}
@media (min-width: 64em) {
  .large-1 {
    width: 8.333333333333332%;
  }
  .large-push-1 {
    margin-left: 8.333333333333332%;
  }
  .large-pull-1 {
    margin-left: -8.333333333333332%;
  }
  .large-2 {
    width: 16.666666666666664%;
  }
  .large-push-2 {
    margin-left: 16.666666666666664%;
  }
  .large-pull-2 {
    margin-left: -16.666666666666664%;
  }
  .large-3 {
    width: 25%;
  }
  .large-push-3 {
    margin-left: 25%;
  }
  .large-pull-3 {
    margin-left: -25%;
  }
  .large-4 {
    width: 33.33333333333333%;
  }
  .large-push-4 {
    margin-left: 33.33333333333333%;
  }
  .large-pull-4 {
    margin-left: -33.33333333333333%;
  }
  .large-5 {
    width: 41.66666666666667%;
  }
  .large-push-5 {
    margin-left: 41.66666666666667%;
  }
  .large-pull-5 {
    margin-left: -41.66666666666667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-push-6 {
    margin-left: 50%;
  }
  .large-pull-6 {
    margin-left: -50%;
  }
  .large-7 {
    width: 58.333333333333336%;
  }
  .large-push-7 {
    margin-left: 58.333333333333336%;
  }
  .large-pull-7 {
    margin-left: -58.333333333333336%;
  }
  .large-8 {
    width: 66.66666666666666%;
  }
  .large-push-8 {
    margin-left: 66.66666666666666%;
  }
  .large-pull-8 {
    margin-left: -66.66666666666666%;
  }
  .large-9 {
    width: 75%;
  }
  .large-push-9 {
    margin-left: 75%;
  }
  .large-pull-9 {
    margin-left: -75%;
  }
  .large-10 {
    width: 83.33333333333334%;
  }
  .large-push-10 {
    margin-left: 83.33333333333334%;
  }
  .large-pull-10 {
    margin-left: -83.33333333333334%;
  }
  .large-11 {
    width: 91.66666666666666%;
  }
  .large-push-11 {
    margin-left: 91.66666666666666%;
  }
  .large-pull-11 {
    margin-left: -91.66666666666666%;
  }
  .large-12 {
    width: 100%;
  }
  .large-push-12 {
    margin-left: 100%;
  }
  .large-pull-12 {
    margin-left: -100%;
  }
  .hide-large {
    display: none;
  }
  .show-large {
    display: block;
  }
  .show-large-inline-block {
    display: inline-block;
  }
  .show-large-inline {
    display: inline;
  }
}
body {
  background: #0287bc;
  background: -moz-linear-gradient(-45deg, #0287bc 0%, #04ba68 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #0287bc), color-stop(100%, #04ba68));
  background: -webkit-linear-gradient(-45deg, #0287bc 0%, #04ba68 100%);
  background: -o-linear-gradient(-45deg, #0287bc 0%, #04ba68 100%);
  background: -ms-linear-gradient(-45deg, #0287bc 0%, #04ba68 100%);
  background: linear-gradient(135deg, #0287bc 0%, #04ba68 100%);
  background-attachment: fixed;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.preloader {
  position: relative;
  margin: 40vh auto 0;
  width: 100px;
}
.preloader span {
  display: block;
  bottom: 0px;
  width: 9px;
  height: 5px;
  background: #d8d8d8;
  position: absolute;
  animation: preloader 1.5s infinite ease-in-out;
}
.preloader span:nth-child(2) {
  left: 11px;
  animation-delay: 0.2s;
}
.preloader span:nth-child(3) {
  left: 22px;
  animation-delay: 0.4s;
}
.preloader span:nth-child(4) {
  left: 33px;
  animation-delay: 0.6s;
}
.preloader span:nth-child(5) {
  left: 44px;
  animation-delay: 0.8s;
}
.page-wrapper {
  opacity: 0;
  transition: all 0.3s;
}
nav {
  border-bottom: 4px solid;
}
nav .nav-header {
  padding-top: 2em;
  height: 50px;
}
nav .nav-header h1 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0;
}
nav .nav-header ul {
  height: 38px;
}
nav .nav-header ul li a {
  color: #fff;
  padding: 0.25em 0.75em;
  transition: all 0.3s;
}
nav .nav-header ul li a:hover {
  background-color: #fff;
  color: rgba(0,0,0,0.8);
}
img.left {
  margin-right: 0.5em;
}
img.right {
  margin-left: 0.5em;
}
.MarkupPagerNav {
  border-top: 1px solid rgba(255,255,255,0.3);
  margin: 1em auto;
  padding: 2em;
  width: 70%;
  text-align: center;
}
.MarkupPagerNav li {
  display: inline;
  list-style: none;
  margin: 0;
}
.MarkupPagerNav li a,
.MarkupPagerNav li.MarkupPagerNavSeparator {
  display: inline-block;
  padding: 2px 9px;
  margin-right: 3px;
  font-size: 12pxpx;
  font-size: 0.75pxrem;
  font-weight: bold;
  text-transform: uppercase;
  width: 60 p;
}
.MarkupPagerNav li.MarkupPagerNavOn a,
.MarkupPagerNav li a:hover {
  background-color: rgba(255,255,255,0.3);
  color: #fff;
  text-decoration: none;
}
.MarkupPagerNav li.MarkupPagerNavSeparator {
  display: inline;
  color: #777;
  background: #d2e4ea;
  padding-left: 3px;
  padding-right: 3px;
}
.playlists-list.list-unstyled li {
  background-color: rgba(255,255,255,0.1);
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
.playlists-list.list-unstyled li a,
.playlists-list.list-unstyled li h3 {
  color: #fff;
}
.playlists-list.list-unstyled li a:hover,
.playlists-list.list-unstyled li h3:hover {
  color: #10384f;
}
.playlists-list.list-unstyled li img {
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
}
.playlists-list.list-unstyled li p {
  color: rgba(255,255,255,0.75);
}
.playlist-header {
  *zoom: 1;
}
.playlist-header:before,
.playlist-header:after {
  content: " ";
  display: table;
}
.playlist-header:after {
  clear: both;
}
.playlist-container {
  *zoom: 1;
}
.playlist-container:before,
.playlist-container:after {
  content: " ";
  display: table;
}
.playlist-container:after {
  clear: both;
}
.playlist.list-unstyled {
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.4);
  padding: 2em;
}
.playlist.list-unstyled li {
  background-color: rgba(216,216,216,0.4);
  color: rgba(255,255,255,0.6);
  margin-bottom: 1px;
  padding: 1em;
  transition: all 0.3s;
}
.playlist.list-unstyled li.playing {
  background-color: rgba(216,216,216,0.6);
  box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3);
}
.playlist.list-unstyled li.playing a {
  color: #fff;
}
.playlist.list-unstyled li a {
  color: rgba(0,0,0,0.8);
  display: block;
  transition: all 0.3s;
}
.playlist.list-unstyled li a:hover {
  color: #fff;
  padding-left: 0.5em;
}
.playlist-title {
  color: #d8d8d8;
  font-size: 50px;
  font-size: 3.125rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  line-height: 50px;
  line-height: 3.125rem;
  margin-top: 0.25em;
}
.playlist-title span {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 1px;
}
.playlist-title:after {
  display: block;
  content: '';
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 5px;
}
.home .playlist-title,
.basic-page .playlist-title {
  text-shadow: 0px -6px 10px rgba(50,50,50,0.2);
}
.audiojs audio {
  left: -1px;
  position: absolute;
}
.audiojs {
  background: rgba(0,0,0,0.5);
  box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
  font-family: monospace;
  font-size: 12px;
  font-size: 0.75rem;
  height: 70px;
  overflow: hidden;
  width: 100%;
}
.audiojs .play-pause {
  border-right: 1px solid rgba(216,216,216,0.4);
  float: left;
  height: 70px;
  margin: 0;
  overflow: hidden;
  padding: 23px 6px;
  width: 10%;
}
.audiojs p {
  cursor: pointer;
  display: none;
  height: 30px;
  margin: 0;
  width: 25px;
}
.audiojs .play {
  display: block;
}
.audiojs .scrubber {
  background: rgba(255,255,255,0.4);
  border-bottom: 0 none;
  border-left: 0 none;
  float: left;
  height: 1.5em;
  margin: 28px 10px;
  overflow: hidden;
  position: relative;
  width: 40%;
}
.audiojs .progress {
  background: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%) repeat scroll 0 0 #ccc;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
}
.audiojs .loaded {
  background: rgba(0,0,0,0.5);
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.audiojs .time {
  border-left: 1px solid rgba(216,216,216,0.4);
  color: #ddd;
  float: left;
  height: 76px;
  line-height: 73pxpx;
  line-height: 4.5625pxrem;
  margin: 0 0 0 6px;
  padding: 18px 0 0 22px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  width: 10%;
}
.audiojs .time em {
  color: #f9f9f9;
  font-style: normal;
  padding: 0 2px 0 0;
}
.audiojs .time strong {
  font-weight: normal;
  padding: 0 0 0 2px;
}
.audiojs .error-message {
  color: #fff;
  display: none;
  float: left;
  height: 36px;
  line-height: 36pxpx;
  line-height: 2.25pxrem;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 400px;
a
  border-bottom: 1px solid #999;
  color: #eee;
  padding-bottom: 1px;
  text-decoration: none;
}
.audiojs .play {
  background: url("../js/player-graphics.gif") no-repeat scroll -2px -1px transparent;
  margin-left: -5px;
}
.audiojs .loading {
  background: url("../js/player-graphics.gif") no-repeat scroll -2px -31px transparent;
  margin-left: -5px;
}
.audiojs .error {
  background: url("../js/player-graphics.gif") no-repeat scroll -2px -61px transparent;
  margin-left: -5px;
}
.audiojs .pause {
  background: url("../js/player-graphics.gif") no-repeat scroll -2px -91px transparent;
  margin-left: -5px;
}
.playing .play,
.playing .loading,
.playing .error {
  display: none;
}
.playing .pause {
  display: block;
}
.loading .play,
.loading .pause,
.loading .error {
  display: none;
}
.loading .loading {
  display: block;
}
.error .time,
.error .play,
.error .pause,
.error .scrubber,
.error .loading {
  display: none;
}
.error .error {
  display: block;
}
.error .play-pause p {
  cursor: auto;
}
.error .error-message {
  display: block;
}
.close-button {
  color: #c62828;
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 5px;
}
#admin-panel {
  background: #fff;
  position: fixed;
  top: 0;
  left: 110%;
  box-shadow: -16px 6px 13px rgba(0,0,0,0.4);
  height: 100vh;
  overflow: scroll;
  right: 0;
  transition: all 0.75s;
}
#admin-panel.editing {
  left: 0;
  z-index: 2;
}
@media only screen and (min-width: 480px) {
  #admin-panel.editing {
    left: 30%;
  }
}
.overlay {
  transition: all 0.75s;
  background: rgba(255,255,255,0);
}
.overlay.show {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(255,255,255,0.8);
}
.overlay.hide {
  z-index: -1;
  background: rgba(255,255,255,0);
}
#modal-iframe {
  width: 100%;
  height: 100%;
}
.login-container {
  padding: 0.5em;
}
.login-container form {
  margin: 0 auto;
  width: 60%;
}
.login-container form p {
  margin: 3em 0;
}
.login-container form input[type="text"],
.login-container form input[type="password"] {
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  height: auto;
  padding: 0.75em;
  width: 100%;
}
.login-container form input[type="text"]:focus,
.login-container form input[type="password"]:focus {
  outline: none;
}
.login-container form input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6) !important;
}
.login-container form input:-moz-placeholder {
  color: rgba(255,255,255,0.6) !important;
}
.login-container form input::-moz-placeholder {
  color: rgba(255,255,255,0.6) !important;
}
.login-container form input:-ms-input-placeholder {
  color: rgba(255,255,255,0.6) !important;
}
.page-footer {
  border-top: 1px solid rgba(255,255,255,0.75);
  color: rgba(255,255,255,0.75);
  margin-top: 10em;
  padding: 2em 0;
}
@-moz-keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: base-color;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
}
@-webkit-keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: base-color;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
}
@-o-keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: base-color;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
}
@keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: base-color;
  }
  50% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
  100% {
    height: 5px;
    transform: translateY(0px);
    background: #d8d8d8;
  }
}
@media only screen and (min-width: 740px) {
  .playlists-list {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    width: 100%;
  }
  .audiojs .scrubber {
    width: 70%;
  }
  .audiojs .play {
    margin-left: 15px;
  }
  .audiojs .loading {
    margin-left: 15px;
  }
  .audiojs .error {
    margin-left: 15px;
  }
  .audiojs .pause {
    margin-left: 15px;
  }
  .prev-next-container {
    padding: 4em 4em 2em;
span
  }
}
@media only screen and (min-width: 980px) {
  .playlist-title {
    font-size: 110px;
    font-size: 6.875rem;
    letter-spacing: -3px;
    line-height: 120px;
    line-height: 7.5rem;
  }
  .playlist-title span {
    font-size: 24px;
    font-size: 1.5rem;
    margin-top: -40px;
  }
  .playlist-title:after {
    width: 40%;
  }
  .playlist-description {
    padding: 3em;
  }
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-float {
  float: none;
}
.no-background {
  background: transparent;
}
.no-border {
  border: 0;
}
.font-thin {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extra-bold {
  font-weight: 800;
}
.font-ultra-bold {
  font-weight: 900;
}
.font-normal {
  font-style: normal;
}
.font-italic,
.italics {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center-element {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  margin: 0;
  padding: 0;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.img-left {
  float: left;
  margin-right: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
}
.field-group {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
}
.field-group label {
  padding-top: 8px;
}
.field {
  width: 100%;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #fafafa;
}
.checkbox,
.radio {
  display: inline-block;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.checkbox label,
.radio label {
  padding-left: 20px;
  padding-top: 0;
  display: inline-block;
}
.checkbox input[type="checkbox"],
.radio input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="radio"] {
  position: absolute;
  top: 4px;
  left: 0;
}
.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animate-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.delay-1 {
  animation-delay: 0.5s;
}
.delay-2 {
  animation-delay: 0.8s;
}
.delay-3 {
  animation-delay: 1s;
}
.fade-in {
  animation-name: fadeIn;
}
.fade-in-down {
  animation-name: fadeInDown;
}
.fade-in-down-big {
  animation-name: fadeInDownBig;
}
.fade-in-left {
  animation-name: fadeInLeft;
}
.fade-in-left-big {
  animation-name: fadeInLeftBig;
}
.fade-in-right {
  animation-name: fadeInRight;
}
.fade-in-right-big {
  animation-name: fadeInRightBig;
}
.fade-in-up {
  animation-name: fadeInUp;
}
.fade-in-up-big {
  animation-name: fadeInUpBig;
}
.fade-out-up {
  animation-name: fadeOutUp;
}
.rotate-colors {
  animation: 2s rotateColors infinite;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}
@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}
@-moz-keyframes rotateColors {
  0% {
    background-color: #c62828;
  }
  20% {
    background-color: #c61e56;
  }
  40% {
    background-color: #736d69;
  }
  60% {
    background-color: #dd9391;
  }
  80% {
    background-color: #28c6c6;
  }
  100% {
    background-color: #2828c6;
  }
}
@-webkit-keyframes rotateColors {
  0% {
    background-color: #c62828;
  }
  20% {
    background-color: #c61e56;
  }
  40% {
    background-color: #736d69;
  }
  60% {
    background-color: #dd9391;
  }
  80% {
    background-color: #28c6c6;
  }
  100% {
    background-color: #2828c6;
  }
}
@-o-keyframes rotateColors {
  0% {
    background-color: #c62828;
  }
  20% {
    background-color: #c61e56;
  }
  40% {
    background-color: #736d69;
  }
  60% {
    background-color: #dd9391;
  }
  80% {
    background-color: #28c6c6;
  }
  100% {
    background-color: #2828c6;
  }
}
@keyframes rotateColors {
  0% {
    background-color: #c62828;
  }
  20% {
    background-color: #c61e56;
  }
  40% {
    background-color: #736d69;
  }
  60% {
    background-color: #dd9391;
  }
  80% {
    background-color: #28c6c6;
  }
  100% {
    background-color: #2828c6;
  }
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent;
    color: #000;
    box-shadow: none;
    text-shadow: none;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100%;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .hide-print {
    display: none;
  }
  .show-print {
    display: block;
  }
  .show-print-inline-block {
    display: inline-block;
  }
  .show-print-inline {
    display: inline;
  }
}
