// IMPORT RUPTURE
// import Rupture via codekit?
// 

import--rupture = true



//
// DEBUG STYLING
// Options are
// * error: Only critical bugs are shown
// * warning: Show error and warning bugs
// * all: Show error and warning bugs, as well as general tips / minor bugs
//

debug--mode = false
debug--level = 'all'




//
// DEFAULT ENVIRONMENT
// Projects may optionally pass through an environment variable to dictate
// whether development specific stylesheets are compiled into the final CSS.
// Set this variable to anything other than 'development' to manually override.
//

environment = 'development'




// 
// Image BASE PATH
// for roots in mixins and stylesheets
// 

img-path = ''