// .playlists-list
//   li
//     width 33.3333%
.playlists-list
  -moz-column-count 3
  -moz-column-gap 10px
  -webkit-column-count 3
  -webkit-column-gap 10px
  column-count 3
  column-gap 10px
  width 100%



.audiojs
  .scrubber
    width 70%
  .play
    margin-left 15px
  .loading
    margin-left 15px
  .error
    margin-left 15px
  .pause
    margin-left 15px

.prev-next-container
  padding 4em 4em 2em
  
  span
  
  // a
  //   &:after
  //     transition()
  //     background-color color-gray
  //     content ''
  //     display block
  //     height 1px
  //     width 0%
  //   &:hover
  //     &:after
  //       width 100%